*, *:before, *:after {box-sizing: border-box}

html {
	font-size: 100%;
}

body {
	background-color: #fff;
	color: $black;
	font-family: "Times New Roman", serif;
	line-height: 1.4;
}

p {
	word-wrap: break-word;
}

a {
	color: $link-colour;
	text-decoration: none;
	&:visited {
		color: $light-grey;
	}
	&:hover {
		text-decoration: underline;
	}
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}
