// Contains everything below the global nav
.layout__page {
	@include clearfix;
	padding: 2rem 2rem;
	box-sizing: content-box;
	max-width: $layout__post--max-width;
	@include media($desktop) {
		max-width: $layout__content--max-width;
	}
	.centered & {
		padding: .5rem;
		margin-right: auto;
		margin-left: auto;
		@include media($tablet) {
			padding: 2rem 1rem;
		}
		@include media($desktop) {
			padding-right: 2rem;
			padding-left: 2rem;
			max-width: $layout__content--max-width;
		}
	}
}

// full bleed element, for example the article header
.layout__jumbotron {
	clear: both;
	margin-bottom: 1rem;
	width: 100%;
}

// the meat of the page. floats left of the side bar if there's room, else it appears above it.
.layout__content {
	@include clearfix;
	width: 100%;
	@include media($desktop) {
		float: left;
		width: calc(100% - #{$layout__side-bar--width + 2rem});
	}
}

// the side bar
.layout__sidebar {
	width: 100%;
	@include media($desktop) {
		float: right;
		width: $layout__side-bar--width;
	}
}
