// Contains everything below the global nav
.layout-page {
	@include clearfix;
	box-sizing: content-box;
	margin-right: auto;
	margin-left: auto;
	padding: .75rem;
	max-width: $layout-post-max-width;
	width: auto;
	@include media($mobile) {
		padding: 2rem;
	}
	@include media($cols-2) {
		max-width: none;
		width: $layout-post-max-width + $layout-gutter-width + $width-cols-2-sidebar;
	}
	@include media($cols-3) {
		width: $layout-post-max-width + $layout-gutter-width + $width-cols-3-sidebar;
	}
	@include media($cols-4) {
		width: $layout-post-max-width + $layout-gutter-width + $width-cols-4-sidebar;
	}
}

// full bleed element, for example the article header
.layout-jumbotron {
	clear: both;
	margin-bottom: 1rem;
	width: 100%;
}

// the meat of the page. floats left of the side bar if there's room, else it appears above it.
.layout-content {
	@include clearfix;
	@include media($cols-2) {
		float: left;
	}
	max-width: $layout-post-max-width;
	width: 100%;
}

.layout-content-wider {
	@extend .layout-content;
	max-width: $layout-root-category-max-width;
}

// the side bar
.layout-sidebar {
	float: left;
	max-width: $layout-post-max-width;
	width: 100%;
	@include media($cols-2) {
		margin-left: $layout-gutter-width;
		max-width: none;
		width: $width-cols-2-sidebar;
	}
	@include media($cols-3) {
		width: $width-cols-3-sidebar;
	}
	@include media($cols-4) {
		width: $width-cols-4-sidebar;
	}
}

.layout-sidebar-wider {
	float: left;
	width: 100%;
	@include media($mobile) {
		margin-left: 0;
		max-width: none;
	}
	@include media($desktop) {
		margin-left: 1.25rem;
		max-width: $layout-root-category-sidebar-max-width;
	}
}
