// Contains everything below the global nav
.layout__page {
	@include clearfix;
	box-sizing: content-box;
	padding: .75rem;
	max-width: $layout--post__max-width;
	width: auto;
	@include media($mobile) {
		padding: 2rem;
	}
	@include media($cols-2) {
		max-width: none;
		width: $layout--post__max-width + $layout__gutter-width + $width-cols-2-sidebar;
	}
	@include media($cols-3) {
		width: $layout--post__max-width + $layout__gutter-width + $width-cols-3-sidebar;
	}
	@include media($cols-4) {
		width: $layout--post__max-width + $layout__gutter-width + $width-cols-4-sidebar;
	}
}

// full bleed element, for example the article header
.layout__jumbotron {
	clear: both;
	margin-bottom: 1rem;
	width: 100%;
}

// the meat of the page. floats left of the side bar if there's room, else it appears above it.
.layout__content {
	max-width: $layout--post__max-width;
	width: 100%;
	@include clearfix;
	@include media($cols-2) {
		float: left;
	}
}

// the side bar
.layout__sidebar {
	float: left;
	max-width: $layout--post__max-width;
	width: 100%;
	@include media($cols-2) {
		margin-left: $layout__gutter-width;
		max-width: none;
		width: $width-cols-2-sidebar;
	}
	@include media($cols-3) {
		width: $width-cols-3-sidebar;
	}
	@include media($cols-4) {
		width: $width-cols-4-sidebar;
	}
}
