%font-large {
	font-size: 1.1rem;
}
%font-larger {
	font-size: 1.3rem;
}
%font-small {
	font-size: .8rem;
}
%font-very-small {
	font-size: .7rem;
}

%text-divider {
	display: block;
	clear: both;
	padding-bottom: 2%;
	width: 100%;
	height: 0;
	background-image: url("#{$images}/icon-divider.svg");
	background-position: center 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	content: '';
}

%lead-in-title {
  @extend %font-small;
  font-style: italic;
  font-variant: small-caps;
  a {
    color: $black;
  }
}

%main-title {
  padding-bottom: 1ex;
  font-size: 2rem;
  line-height: 1.1;
}
