.font-large() {
	font-size: 1.1rem;
}
.font-small() {
	font-size: .8rem;
}
.font-very-small() {
	font-size: .7rem;
}

.icon(@url: '', @width: auto, @height: auto){
	.text-hide;
	background-image: url(@url);
	background-position: center;
	background-size: @width @height;
	background-repeat: no-repeat;
}
