// ********** MODULE **********

.advert {
	@include font-collapsed;
	padding: 0;
	background-color: $advert-bg;
	text-align: center;
	&:before {
		@include set-font-size(10);
		@include leading(1.1);
		display: flex;
		align-items: center;
		justify-content: center;
		color: darken($advert-bg, 10%);
		content: 'Advertisement';
		text-transform: uppercase;
	}
	@include media($mobile) {
		padding: 0 $advert-border-width $advert-border-width;
	}
}

// ********** ELEMENTS **********

.advert-leaderboard {
	@include trailer;
	position: relative;
	overflow-x: hidden;
	width: 100%;
	border-bottom: 1px solid darken($advert-bg, 3%);
	text-align: center;
}

#skyscraper,
#skyscraper-mini {
}
