.category-list {
	@extend %clearfix;
	margin-bottom: $page-gutter-width;
	padding-bottom: .25em;
	border-bottom: 1px solid $black;
	dt {
		display: block;
		margin-top: .25em;
		padding-top: .25em;
		border-top: 1px solid $black;
		&:first-child {
			margin-top: 0;
		}
	}
	dd {
		@extend %font-xxs;
		display: block;
		font-style: italic;
	}
}
