.category-page {
	.page-title {
		@extend %page-title;
	}

	.listings {
		margin-bottom: $page-gutter-width;
	}

	.listing:nth-of-type(n+3) {
		float: left;
		width: 50%;
		padding-left: .5em;
		&:nth-of-type(odd){
			clear: left;
			padding-left: 0;
			padding-right: .5em;
			&:last-child {
				width: 100%;
			}
		}
		.listing-thumbnail, .listing-excerpt {
		 	display: none;
		}
		.listing-post-title {
			@extend %font-reset;
			line-height: 1.3;
		}
	}
}

.category-title {
	@extend %page-title;
}

.category-description {
	@extend %post-excerpt;
}


.category-sub-content {
	@include media($desktop) {
		@include grid-row;
	}
}

.category-recent {
	@include media($desktop) {
		@include grid-cols(1.5);
	};
}

.category-side-bar {
	@include media($desktop) {
		@include grid-cols(3);
	}
}
.child-categories-title {
	@extend %page-title;
}

.child-categories {
	@extend %clearfix;
	border-bottom: 1px solid $black;
	margin-bottom: $page-gutter-width;
	li {
		width: 50%;
		float: left;
		display: block;
		border-top: 1px solid $black;
		padding: .25em;
		padding-left: 0;
		&:nth-child(even) {
			clear: right;
			padding-right: 0;
		}
		&:nth-child(odd):last-child {
			width: 100%;
		}
		a {
			@extend %category-name;
			@extend %font-s;
		}
	}
}
.child-categories-excerpt {
	 @extend %font-xxs;
	 font-style: italic;
}
