.featured-articles {
	@include grid-row;
	@extend %antialias-hidpi;
}

.featured-article {
	@include grid-cols(1);
	&:nth-child(4), &:nth-child(5) {
		display: none;
	}

	@include media($mobile) {
		@include grid-cols(2);
		&:nth-child(4) {
			display: block;
		}
	}

	@include media($tablet) {
		&:first-child {
			@include grid-cols(1);
		}
		&:nth-child(4), &:nth-child(5) {
			display: none;
		}
		@include grid-cols(2);
	}

	@include media($desktop) {
		@include grid-cols(3);
		&:first-child {
			@include grid-cols(1.5);
		}
	}

	@include media($desktop-l) {
		@include grid-cols(3);
		&:nth-child(1), &:nth-child(2) {
			@include grid-cols(2);
		}
		&:nth-child(4), &:nth-child(5) {
			display: block;
		}
	}
}

.featured-article-category-title {
	@extend %category-title;
	color: $white;
}

.featured-article-title {
	@extend %font-l;
}

.puff.featured-article-puff {
	padding-left: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
