.featured-articles {
	@include clearfix;
	margin-bottom: 1.4rem;
}

.featured-article {
	width: 100%;
	float: left;
	margin-bottom: 1.25rem;

	@include media($tablet) {
		padding-left: 1.25rem;
		width: 50%;
	}

	@include media($desktop) {
		width: 33%;
	}
}

.featured-article:first-child {
	@include media($tablet) {
		width: 100%;
		margin-left: -1.25rem;
	}

	@include media($desktop) {
		width: 33%;
	}
}

.featured-article:nth-child(2) {
	@include media($tablet) {
		margin-left: -1.25rem;
	}
	@include media($desktop) {
		margin-left: 0;
	}
}

.featured-article__category-title {
	@extend %lead-in-title;
}

.featured-article__title {
	@extend %font-l;
}

.puff.featured-article__puff {
	padding-left: 0;
	margin-bottom: 0;
}
