.page-header {
}

.logo {
	@include text-hide;
	height: rhythm(6);
	background-color: $white;
	background-image: url("#{$images}/logo-no_url.svg");
	background-position: center;
	background-size: auto rhythm(3);
	background-repeat: no-repeat;
}
