#header {
	position: relative;
	&__logo {
		@include text-hide;
		position: relative;
		z-index: 1;
		height: 6rem;
		background-color: $white;
		background-image: url("#{$images}/logo.svg");
		background-position: 2rem center;
		background-size: auto 61%;
		background-repeat: no-repeat;
		.centered & {
			background-image: url("#{$images}/logo-no_url.svg");
			background-position: center;
		}
	}
}

#header__search {
	display: none;
}
