.page-header {
}

.logo {
	@include text-hide;
	height: 8rem;
	background-color: $white;
	background-image: url("#{$images}/logo-no_url.svg");
	background-position: center;
	background-size: auto 4rem;
	background-repeat: no-repeat;
}
