.listings-featured {
	@include grid-row;
	@extend %antialias-hidpi;
	margin-bottom: 1rem;
}

.listing-featured {

	.post-title {
		@extend %font-s;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.puff {
		padding-left: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	@media only screen and (max-width: $bp-mobile) {
		.puff-content {
			padding: 0.5rem;
		}
	};

	@include grid-cols(2);

	&:first-child {
		@include grid-cols(1);
		.post-title {
			font-size: 2rem;
		}
	}

	@include media($mobile) {
		.post-title {
			font-size: 1rem;
		}
	}

	@include media($desktop) {
		.post-title {
			font-size: 1.1rem;
		}
		@include grid-cols(3);
		&:first-child {
			@include grid-cols(1.5);
			// The standard calculation is slightly off, when rounded to whole pixels in the browser.
			a {padding-bottom: percentage(2.02/3)}
		}
	}
}




