.listing {
	@include clearfix;
	margin-bottom: .5rem;
	padding-top: .5rem;
	border-top: 1px solid $black;
	&:last-child {
		padding-bottom: .5rem;
		border-bottom: 1px solid $black;
	}
	a {
		color: $black;
	}
}

.listing-thumbnail,
.listing-content {
	float: left;
}

.listing-thumbnail {
	max-width: 9.375rem;
	max-height: 7.0625rem;
	margin-right: 0.625rem;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.listing-content {
	max-width: 27.3125rem;
	margin-top: -.25em;
}

.listing-category-title {
	@extend %lead-in-title;
}

.listing-post-title {
	@extend %font-l;
	line-height: 1.2;
	margin-bottom: .05em;
}

.listing-excerpt {
	@extend %standfirst;
	font-size: 0.875rem;
	padding: 0;
}
