.listing {
	@extend %clearfix;
	margin-bottom: .5rem;
	padding-top: .5rem;
	border-top: 1px solid $black;
	&:last-child {
		padding-bottom: .5rem;
		border-bottom: 1px solid $black;
	}
	a {
		color: $black;
	}
}

.listing-thumbnail,
.listing-content {
	float: left;
}

.listing-thumbnail {
	max-width: 9.375rem;
	max-height: 7.0625rem;
	margin-right: 0.625rem;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.listing-content {
	max-width: 27.3125rem;
	margin-top: -.25em;
}

.listing-category-title {
	@extend %category-title;
}

.listing-post-title {
	@extend %post-title;
}
