// ********** MODULE **********

#nav--global {
	position: relative;
	width: 100%;
	border-top: 1px $black solid;
	background-color: $white;
	font-size: 0;
}

// ********** ELEMENTS **********

.nav--global__primary {
	overflow: hidden;
	padding-right: 2rem;
	height: 2rem;
	border-bottom: 1px solid $black;
	text-align: center;
	font-size: 0;
	li {
		@extend %nav-item;
		display: inline-block;
		font-size: 1rem;
		&:before {
			display: inline-block;
			content: '∙';
		}
		&:first-child:before {
			content: '';
		}
		a {
			display: inline-block;
			margin-right: -.2em;
			margin-left: -.2em;
			padding: .3em .9em;
		}
	}
	.active > a, a:hover {
		background-color: $black;
		color: $white;
	}
}

.nav--global__secondary {
	width: 100%;
	background-color: $white;
	text-align: center;
	font-size: 0;
	&:empty {
		display: none;
	}
	li {
		@extend %nav-item;
		@extend %font-s;
		display: inline-block;
		&:before {
			display: inline-block;
			padding: 0 .8em;
			content: '∙';
		}
		&:first-child:before {
			content: '';
		}
	}
	a {
		display: inline-block;
		padding: .7em 0 .1em;
		border-bottom: 1px solid $white;
	}
	.active > a, a:hover {
		border-color: $black;
	}
}
