// ********** MODULE **********

#nav--global {
	position: relative;
	width: 100%;
	border-top: 1px $black solid;
	border-bottom: 1px $black solid;
	background-color: $white;
}

// ********** ELEMENTS **********

.nav--global__primary {
	@include clearfix;
	padding-left: .5rem;
	font-size: 0;
	.centered & {
		text-align: center;
		padding-left: 0;
	}
	> li {
		display: inline-block;
		a {
			display: inline-block;
			padding: .2em .65em;
			color: $black;
			font-variant: small-caps;
			font-size: 1rem;
			// font-style: italic;
		}
	}
	> li.active a, > li a:hover {
		background-color: $black;
		color: $white;
		text-decoration: none;
	}
}

.nav--global__secondary {
	display: none
}

#nav--global__toggle {
	@include text-hide;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	// z-index: 1;
	// width: $nav-height;
	// height: $nav-height;
	border: 0;
	&:focus {
		outline: none;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: $black;
		content: '…';
		font-size: 1rem;
		line-height: 1;
	}
}
