// ********** MODULE **********

#nav--global {
	position: relative;
	width: 100%;
	border-top: 1px $black solid;
	border-bottom: 1px solid $black;
	background-color: $white;
	font-size: 0;
}

// ********** ELEMENTS **********

.nav--global__primary {
	@include clearfix;
	padding-left: 2rem - .65rem;
	font-size: 0;
	> li {
		display: inline-block;
		a {
			display: inline-block;
			padding: .2em .65em;
			color: $black;
			font-variant: small-caps;
			font-size: 1rem;
		}
	}
	.active > a, a:hover {
		background-color: $black;
		color: $white;
		text-decoration: none;
	}
}

.nav--global__secondary {
	margin-top: -1px;
	width: 100%;
	border-top: 1px solid $black;
	background-color: $white;
	font-size: 0;
	&:empty {
		display: none;
	}
	li {
		display: inline-block;
	}
	a {
		@extend %font-s;
		display: inline-block;
		padding: .4em 1em;
		color: lighten($black, 0%);
		font-style: italic;
		font-variant: small-caps;
	}
	.active > a, a:hover {
		margin-top: -1px;
		border-top: 1px solid $black;
		background-color: $black;
		color: $white;
		text-decoration: none;
	}
}

#nav--global__toggle {
	@include text-hide;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	border: 0;
	&:focus {
		outline: none;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: $black;
		content: '…';
		font-size: 1rem;
		line-height: 1;
	}
}
