.post-review-release {
	font-style: italic;
}

.post-review-artist {
	@include font-xxs;
	display: block;
	text-transform: uppercase;
	font-family: Helvetica;
}

.post-review .post-body {
	margin-top: -.4em; // pull content up, to handle lineheight of paras.
}

.post-review .post-featured-image {
	width: 100%;
	float: left;
	margin-right: 1rem;
	margin-top: .45rem;
	&:after {
		display: none;
	}
	@include media($mobile) {
		width: 14.2rem;
	}
}
