.post--review__release {
	font-style: italic;
}

.post--review__artist {
	@extend %font-xs;
	display: block;
	margin-top: 1ex;
	text-transform: uppercase;
	font-family: Helvetica;
}

.post--review .post__featured-image {
	width: 100%;
	float: left;
	margin-right: 1rem;
	// margin-top: .45em;
	// display: inline;
	&:after {
		display: none;
	}
	@media #{$mobile} {
		width: 14.3em;
	}
	@media #{$tablet} {
		// width: 19.35em;
	}
}
