// ********** MODULE **********

.post {}

// ********** ELEMENTS **********

.post__category-title {
	@include font-small;
	font-style: italic;
	font-variant: small-caps;
	a {
		color: $black;
	}
}

.post__title {
	padding-bottom: 1ex;
	font-size: 2rem;
	line-height: 1.1;
}

.post__standfirst {
	padding-bottom: 1rem;
	text-indent: 0;
	font-style: italic;
	img {
		display: block;
		margin-bottom: 1ex;
		width: 100%;
	}
}

.post__byline {
	@include font-very-small;
	padding-bottom: 1ex;
	border-bottom: 1px solid $grey;
	&--author {
		display: inline;
		&:before {
			content: '— ';
		}
		&:after {
			content: ', ';
		}
		a {
			color: $black;
		}
	}
	&--date {
		&:after {
			content: '.';
		}
	}
}

.post__featured-image {
	width: 100%;
	&:after {
		@include text-divider;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.post__content {
	margin-top: .5rem;
	p {
		// margin-bottom: 1em;
		text-align: justify;
		text-indent: 1.5em;
		font-size: 1.125rem;
		line-height: 1.5;
		&:first-of-type {
			text-indent: 0;
			&:first-letter {
				font-size: 1.4em;
			}
		}
		&:last-of-type {
			&:after {
				@include font-small;
				padding-left: 1ex;
				content: '✧';
			}
		}
	}
	hr {
		@include text-divider;
		margin: 0;
		margin-bottom: 1.125rem;
		border: none;
	}
}

.post__content .img_ad {
	float: left;
	margin-right: 1em;
	margin-top: .75em;
	&:nth-of-type(odd){
		float: right;
		margin-right: 0;
		margin-left: 1em;
	}
}

.post__related {
	margin-bottom: 2rem;
	padding-top: 2rem;
	width: 100%;
	@media #{$tablet} {
		margin-bottom: 0;
		padding-bottom: 0
	}
	&:before {
		@include text-divider;
		margin-bottom: 2rem;
	}
}

.post__related .puff {
	@include puff-row-length(2);
	@media #{$tablet} {
		@include puff-row-length(3);
	}
}

.post__sharing {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	line-height: 0;
}
.post .fb-like {
	width: 100%;
	line-height: 0;
}
