// ********** MODULE **********

.post {}

// ********** ELEMENTS **********

.post-header {
	@include margin-border(.5);
}

.post-standfirst {
	@include trailer();
}

.post-byline {
	@include font-xxs;
	@include leading(1);
	&-author {
		display: inline;
		&:before {
			content: '— ';
		}
		&:after {
			content: ', ';
		}
		a {
			color: $black;
		}
	}
	&-date {
		&:after {
			content: '.';
		}
	}
}

.post-featured-image {
	@include font-collapsed;
	width: 100%;
	&:after {
		@extend %ornament-divider;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.post-body {
	position: relative;
	@include trailer;
}

.post-content {
	p {
		text-align: justify;
		text-indent: rhythm();
		hyphens: auto;
		&:first-of-type {
			@extend %drop-cap;
		}
	}
	.post-embed, figure {
		margin: rhythm(.5) 0;
	}
	figure {
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.post-embed {
		justify-content: center;
		background-color: black;
		width: 100%;
		clear: both;
		> * {
			width: 100%;
		}
		&:first-child {
			background-color: white;
			&:after {
				@extend %ornament-divider;
			}
		}
		&:last-child {
			background-color: white;
			&:before {
				@extend %ornament-divider;
			}
		}
	}
	hr {
		@extend %ornament-divider;
		margin: 0;
		border: none;
		+ p {
			@extend %drop-cap;
		}
	}
}

.post-content .advert {
	margin: rhythm(.5) 0;
	@include media($mobile) {
		margin: rhythm(.25) 0 0;
		&:nth-of-type(even) {
			float: left;
			margin-right: 1rem;
			& + p {
				text-indent: rhythm(.5);
			}
		}
		&:nth-of-type(odd) {
			float: right;
			margin-left: 1rem;
		}
	}
}

.post-related:not(:empty) {
	@include grid-row($puffs-gutter-width);
	width: 100%;
	@include media($tablet) {
		margin-bottom: 0;
		padding-bottom: 0
	}
	&:before {
		@extend %ornament-divider;
	}
}

.post-related .puff {
	@include puff-cols(2);
	@include media($tablet) {
		@include puff-cols(3);
	}
}

.post-sharing {
	@include leader;
	@include font-collapsed;
}
