.post-review-release {
	font-style: italic;
}

.post-review-artist {
	@extend %font-xxs;
	display: block;
	margin-top: 1ex;
	text-transform: uppercase;
	font-family: Helvetica;
}

.post-review .post-featured-image {
	width: 100%;
	float: left;
	margin-right: 1rem;
	// margin-top: .45em;
	// display: inline;
	&:after {
		display: none;
	}
	@include media($mobile) {
		width: 14.3em;
	}
}
