// ********** MODULE **********

.post {}

// ********** ELEMENTS **********

.post-header {
	@include margin-border(bottom, .5);
}

.post-standfirst {
	@include trailer(1);
}

.post-byline {
	@include font-xxs;
	@include leading(1);
	&-author {
		display: inline;
		&:before {
			content: '— ';
		}
		&:after {
			content: ', ';
		}
		a {
			color: $black;
		}
	}
	&-date {
		&:after {
			content: '.';
		}
	}
}

.post-featured-image {
	@include font-collapsed;
	width: 100%;
	&:after {
		@extend %ornament-divider;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.post-body {
	position: relative;
}

.post-content {
	p {
		text-align: justify;
		text-indent: rhythm();
		hyphens: auto;
		@include media($tablet) {
			// text-indent: 1.5em;
			// line-height: 1.5;
		}
		&:first-of-type {
			@extend %drop-cap;
		}
	}
	figure {
		img {
			width: 100%;
			height: auto;
			// margin: 1ex 0 0;
			@include media($mobile) {
				// margin: 1em 0 .5em;
			}
		}
	}
	.post-embed {
		// margin: 1em 0 1em;
		justify-content: center;
		background-color: black;
		width: 100%;
		clear: both;
		> * {
			width: 100%;
			// flex: 1;
		}
		&:first-child {
			background-color: white;
			// margin-top: .4rem;
			&:after {
				@extend %ornament-divider;
				// margin-top: 2rem;
				// margin-bottom: 1.5rem;
			}
		}
		&:last-child {
			background-color: white;
			&:before {
				@extend %ornament-divider;
				// margin-top: 1.5rem;
				// margin-bottom: 2rem;
			}
		}
	}
	hr {
		@extend %ornament-divider;
		margin: 0;
		// margin-bottom: 1.125rem;
		// margin-top: 1.125rem;
		border: none;
		+ p {
			@extend %drop-cap;
		}
	}
}

.post-content .advert {
	margin-top: rhythm(.25);
	@include media($mobile) {
		&:nth-of-type(even) {
			float: left;
			margin-right: 1rem;
			& + p {
				text-indent: rhythm(.5);
			}
		}
		&:nth-of-type(odd) {
			float: right;
			margin-left: 1rem;
		}
	}
}

.post-related:not(:empty) {
	@include grid-row($puffs-gutter-width);
	// margin-bottom: 2rem;
	// padding-top: 2rem;
	width: 100%;
	@include media($tablet) {
		margin-bottom: 0;
		padding-bottom: 0
	}
	&:before {
		@extend %ornament-divider;
		// margin-bottom: 2rem;
	}
}

.post-related .puff {
	@include puff-cols(2);
	@include media($tablet) {
		@include puff-cols(3);
	}
}

.post-sharing {
	@include leader;
	@include font-collapsed;
}
