// ********** MODULE **********

.puff {
	a {
		@include aspect-ratio(2/3);
		position: relative;
		display: block;
		width: 100%;
		background-color: $black;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.puff-header {
	@include trailer;
	text-align: center;
	font-variant: small-caps;
}

.puff-content {
	@include font-s;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: rhythm(.5);
	padding-top: 2em;
	max-height: 100%;
	width: 100%;
	justify-content: flex-end;
	background: linear-gradient(to bottom,
		rgba(0,0,0,.0) 0%,
		rgba(0,0,0,.4) 70%
	);
	color: white;
	text-align: left;
	text-shadow: fade-out(black, .2) 0px 0px 1px;

	a:hover & {
		top: 0;
		// animation: flicker 50ms infinite alternate;
		// animation-delay: 3s;
	}
}

// @keyframes flicker {
// 	0% {background-color: transparent;}
// 	49% {background-color: transparent}
// 	50% {background-color: black}
// 	100% {background-color: black}
// }
