// ********** MODULE **********

.puffs {
	@include clearfix;
}

// ********** ELEMENTS **********

.puffs ul {
	margin-left: -.5rem;
}

.puff {
	position: relative;
	float: left;
	margin-bottom: .5rem;
	padding-left: .5rem;
	a {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		background-color: $black;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@include puff-row-length(2);
	@media #{$tablet} {
		@include puff-row-length(3);
	}
	@media #{$desktop} {
		@include puff-row-length(2);
	}
	&.album-reviews {
		@include puff-row-length(2, 1);
		@media #{$tablet} {
			@include puff-row-length(3, 1);
		}
		@media #{$desktop} {
			@include puff-row-length(2, 1);
		}
	}
}

.puff__header {
	margin-bottom: 1ex;
	text-align: center;
	font-variant: small-caps;
}

.puff__list {
	@include clearfix;
}

.puff__content {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	padding: .5rem .8rem .6rem;
	width: 100%;
	justify-content: flex-end;
	border-top: 1px solid fade-out(black, .95);
	background-color: fade-out(black, .75);
	color: fade-out(white, 0);
	text-align: left;
	text-shadow: 0px 0px 1px fade-out(black, .2);
	font-size: .93rem;
	line-height: 1.2;

	a:hover & {
		background-color: fade-out(black, .4);
	}
}

.puff__release {
	@extend %font-l;
	display: block;
	margin-bottom: .5ex;
	font-style: italic;
	line-height: 1;
}

.puff__artist {
	@extend %font-xs;
	display: block;
	display: block;
	margin-bottom: .3ex;
	text-transform: uppercase;
	font-family: Helvetica;
}
