// ********** MODULE **********

.puffs {
	@extend %clearfix;
	ul {
		@include grid-row($puffs-gutter-width);
	}
}

// ********** ELEMENTS **********

.puff {
	@include puff-cols(1);
	a {
		@include aspect-ratio(2/3);
		position: relative;
		display: block;
		width: 100%;
		background-color: $black;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.puff-header {
	margin-bottom: 1ex;
	text-align: center;
	font-variant: small-caps;
	&:first-of-type {
		@include media($single-3-col) {
			margin-top: -.4em;
		}
	}
}

.puff-content {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	padding: .5rem .8rem .6rem;
	width: 100%;
	justify-content: flex-end;
	border-top: 1px solid fade-out(black, .95);
	background-color: fade-out(black, .75);
	color: fade-out(white, 0);
	text-align: left;
	text-shadow: fade-out(black, .2) 0px 0px 1px;
	font-size: .93rem;
	line-height: 1.2;

	a:hover & {
		background-color: fade-out(black, .4);
	}
}
