// ********** MODULE **********

.puffs {
	@include clearfix;
	// max-width: $layout-adverts-skyscraper-width;
	// width: 100%;
}

// ********** ELEMENTS **********

.puffs ul {
	margin-left: 0 - $layout-puffs-gutter-width;
}

.puff {
	position: relative;
	float: left;
	margin-bottom: $layout-puffs-gutter-width;
	padding-left: $layout-puffs-gutter-width;
	a {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		background-color: $black;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@include puff-row-length(1);
}

.puff-header {
	margin-bottom: 1ex;
	text-align: center;
	font-variant: small-caps;
	&:first-of-type {
		@include media($cols-3) {
			margin-top: -.4em;
		}
	}
}

.puff-list {
	// @include clearfix;
}

.puff-content {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	padding: .5rem .8rem .6rem;
	width: 100%;
	justify-content: flex-end;
	border-top: 1px solid fade-out(black, .95);
	background-color: fade-out(black, .75);
	color: fade-out(white, 0);
	text-align: left;
	text-shadow: fade-out(black, .2) 0px 0px 1px;
	font-size: .93rem;
	line-height: 1.2;

	a:hover & {
		background-color: fade-out(black, .4);
	}
}

.puff-release {
	@extend %font-l;
	display: block;
	margin-bottom: .5ex;
	font-style: italic;
	line-height: 1;
}

.puff-artist {
	@extend %font-xs;
	display: block;
	display: block;
	margin-bottom: .3ex;
	text-transform: uppercase;
	font-family: Helvetica;
}
