.puffs-album-reviews .puff {
	a {
		@include aspect-ratio(1);
	}
}

.puff-release {
	@extend %font-l;
	display: block;
	margin-bottom: .5ex;
	font-style: italic;
	line-height: 1;
}

.puff-artist {
	@extend %font-xxs;
	display: block;
	display: block;
	margin-bottom: .3ex;
	text-transform: uppercase;
	font-family: Helvetica;
}
