.puff-album-review {
	a {
		@include aspect-ratio(1);
	}
}

.puff-release {
	@include font-l;
	@include trailer(.15);
	display: block;
	font-style: italic;
	// line-height: 1;
}

.puff-artist {
	@include set-font-size(11);
	display: block;
	// margin-bottom: .3ex;
	text-transform: uppercase;
	font-family: Helvetica;
}
