#site-search {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	overflow: hidden;
	// prevent the font-smoothing flicking to 'antialiased'
	// on text over semi-opaque backgrounds (e.g. puffs)
	// while the searchbox transitions in safari
	transform: translateZ(0);
	transition: z-index .1s;
	&.is-active {
		z-index: 2;
		transition: z-index .1s step-end;
	}
}

#search-input {
	@extend %font-s;
	@extend %antialias;
	@include media($only-mobile) {
		// stop mobiles zooming on focus
		font-size: 16px;
	};
	padding-right: .8em;
	flex-grow: 1;
	height: px-to-rem(31);
	outline: 0;
	border: none;
	border-radius: 0;
	background-color: $white;
	color: $black;
	text-align: right;
	font: 14px Courier, monospace;
	opacity: 0;
	transform: translateX(-100%);

	-webkit-appearance: none;
	&::-webkit-search-cancel-button {
		display: none;
	}
	.no-touchevents & {
		transition: opacity .1s linear,	transform .1s step-end;
	}
}

#site-search.is-active #search-input {
	opacity: 1;
	transform: translateX(0);
	.no-touchevents & {
		transition: opacity .1s linear,	transform .1s cubic-bezier(0,1,.11,.97);
	}
}

#site-search button {
	@include font-collapsed;
	// padding: .5rem;
	flex-basis: 2rem;
	height: px-to-rem(31);
	outline: 0;
	border: none;
	border-left: 1px solid $black;
	background-color: $white;
	cursor: pointer;
	transform: translateX(2rem);
	path {
		fill: $black;
	}
	.no-touchevents & {
		transition:	transform .1s ease-out;
	}
}

#site-search.is-active  button {
	transform: translateX(0);
}

#site-search button:hover, #site-search:not(.is-active) button.active {
	background-color: $black;
	path {
		fill: $white;
	}
}
