// ********** MODULE **********

.side-bar {}

// ********** ELEMENTS **********

.side-bar .puffs {
	margin-bottom: 2rem;
}

.side-bar .advert:not(:last-child) {
	margin-bottom: 2rem;
	position: relative;
}
