// ********** MODULE **********

.side-bar {}

// ********** ELEMENTS **********

.side-bar .puff {
	@include puff-row-length(2);
	@media #{$tablet} {
		@include puff-row-length($length: 3);
	}
	@media #{$desktop} {
		@include puff-row-length($length: 2);
	}
}

.side-bar .puffs {
	margin-bottom: 2rem;
}

.side-bar .advert:not(:last-child) {
	margin-bottom: 2rem;
	position: relative;
}
