// ********** MODULE **********
$nav-row-height: rhythm(1.5);

.site-nav {
	@include font-collapsed;
	@extend .category-name;
	position: relative;
	width: 100%;
	border-top: 1px $black solid;
	background-color: $white;
	text-align: center;
	li {
		display: inline-block;
		&:first-child a:before {
			overflow: hidden;
			text-indent: -1em;
		}
	}
	a {
		@extend %no-hightlight;
		display: flex;
		margin-right: -.2em;
		padding-right: .8em;
		height: $nav-row-height;
		align-items: center;
		&:before {
			display: inline-block;
			width: .8em;
			content: $dot;
			text-align: left;
		}
	}
}

// ********** ELEMENTS **********

.site-nav-primary {
	overflow: hidden;
	padding-right: $nav-row-height;
	@include media($tablet) {
		padding-left: $nav-row-height;
	}
	height: $nav-row-height;
	border-bottom: 1px solid $black;
	li {
		@include font-reset;
		position: relative;
		z-index: 2;
	}
	.active a, a:hover {
		background-color: $black;
		color: $white;
		&:before {
			color: $black;
		}
	}
}
