#header {
  .clearfix;
  position: relative;
  &__logo {
    .text-hide;
    position: relative;
    z-index: 1;
    width: 100%;
    height: @header-height;
    background-color: @white;
    background-image: url("@{images}/logo-no_url.svg");
    background-position: 1rem center;
    background-size: auto 50%;
    background-repeat: no-repeat;
  }
}
