#header {

  .clearfix;
  position: relative;

  &__logo {
    width: 100%;
    height: @header-height;
    .text-hide;
    background-image: url("@{images}/logo-no_url.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: auto 50%;
    background-color: @white;
    position: relative;
    z-index: 1;
  }

}
