// ********** MODULE **********

.post {
  padding: 1rem;
  padding-top: .8rem;
  max-width: 35rem;
  background-color: #fff;
  @media (@medium) {
    margin-top: @nav-height;
  }
  // ********** BASE **********
  h3 {
    .font-small;
    margin-bottom: -.3ex;
    color: @grey;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1rem * @gr;
    line-height: @line-height * 1.2;
  }
}

// ********** ELEMENTS **********

.post__category-title {
  font-style: italic;
}

.post__standfirst {
  padding: 1ex 0 1ex;
  border-top: 1px solid @grey;
  text-indent: 0;
  // border-bottom: 1px solid @grey;
  font-style: italic;
  &:after {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    width: 100%;
    height: 1rem;
    background-image: url("@{images}/icon-divider.svg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    content: '';
  }
  img {
    display: block;
    margin-bottom: 1ex;
    width: 100%;
    // margin-top: -1ex;
  }
}

.post__byline {
	time, address {
    .font-very-small;
  }
  address {
    display: inline;
    &:before {
      content: 'by ';
      font-style: italic;
    }
    &:after {
      content: ' \b7';
    }
  }
}

.post__content {
	> p {
    margin-bottom: 1em;
    text-align: justify;
    text-indent: 1em;
    &:first-of-type {
      text-indent: 0;
      &:first-letter {
        font-size: 1.4em;
      }
    }
    &:last-of-type {
      &:after {
        .font-small;
        padding-left: 1ex;
        content: '✧';
      }
    }
  }
}

.post__content-puffs {
  dt {
    margin-top: 2rem;
    font-weight: bold;
  }
  dd {
    .font-small;
    line-height: 1.2;
  }
  li {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px dotted #eee;
    &:first-of-type {
      padding-top: 0;
      border-top: none;
    }
  }
  a {
    display: block;
  }
}

.post .fb-like {
  margin-top: @line-height;
  // border-top: 1px solid @black;
  width: 100%;
  line-height: 0;
}
