.side-bar {
	box-sizing: content-box;
	min-width: @side-bar-min-width;
	width: 100%;
	@media (@tablet) {
		margin-right: 0;
		margin-left: auto;
		padding-left: 2rem;
		width: @side-bar-min-width;
	}
}

.side-bar__skyscraper,
.side-bar__skyscraper--mini {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 0;
	line-height: 0;
	&:before {
		.antialias;
		display: block;
		background-color: black;
		color: lighten(black, 100%);
		content: 'Advert';
		font-variant: small-caps;
		font-size: .8rem;
		line-height: 2;
	}
}

.side-bar .puff {
	.puff-row-length(2);
	@media (@tablet) {
		.puff-row-length(@length: 2);
	}
}

.side-bar .puffs {
	margin-bottom: 2rem;
}
