.side-bar {
	// box-sizing: content-box;
	min-width: @side-bar-min-width;
	width: 100%;
	@media (@tablet) {
		margin-right: 0;
		margin-left: auto;
		width: ~"calc(@{side-bar-min-width} + 10px)";
	}
}

.side-bar .puff {
	.puff-row-length(2);
	@media (@tablet) {
		.puff-row-length(@length: 2);
	}
}

.side-bar .puffs {
	margin-bottom: 2rem;
}

.side-bar .advert:not(:last-child) {
	.text-divider-sidebar;
	position: relative;
}
