// ********** MODULE **********

.side-bar {}

// ********** ELEMENTS **********

.side-bar .puff {
	.puff-row-length(2);
	@media (@tablet) {
		.puff-row-length(@length: 3);
	}
	@media (@desktop) {
		.puff-row-length(@length: 2);
	}
}

.side-bar .puffs {
	margin-bottom: 2rem;
}

.side-bar .advert:not(:last-child) {
	margin-bottom: 2rem;
	// .text-divider-sidebar;
	position: relative;
}
