.side-bar {
	min-width: 18.75em;
	width: 100%;
}

.side-bar__skyscraper,
.side-bar__skyscraper--mini {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 0;
	line-height: 0;
	border-bottom: 1px solid @black;
}

.side-bar .puffs {
	border-bottom: 1px solid @black;
	padding-bottom: 1.5rem;
	margin-bottom: 2rem;
}
