// Contains everything below the global nav
.page {
	@extend %clearfix;
	margin-right: auto;
	margin-left: auto;
	padding: 1rem;
	width: 100%;
	max-width: 38rem;
	@include media($mobile) {
		padding: ($page-padding-width * 1.5) $page-padding-width;
	}
	@include media($tablet) {
		width: $bp-tablet;
	}
	@include media($desktop) {
		width: $bp-desktop;
		max-width: none;
	}
	@include media($desktop-l) {
		width: $bp-desktop-l;
	}
}
