// Contains everything below the global nav
.page {
	@extend %clearfix;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	width: 100%;
	max-width: 38rem;
	@include media($tablet) {
		padding: ($page-padding-width * 1.5) 0;
	}
	@include media($tablet) {
		width: $bp-tablet;
	}
	@include media($desktop) {
		width: $bp-desktop;
		max-width: none;
	}
	// @include media($desktop-l) {
	// 	width: $bp-desktop-l;
	// }
}
