// ********** THE POST **********

.post-header {
	clear: both;
	margin-bottom: 1rem;
}

.post-body {
	@extend %clearfix;
	width: 100%;
	float: left;
	margin-top: -.4rem; // pull content up, to handle lineheight of paras.
	@include media($desktop) {
		width: $bp-desktop - ($advert-skyscraper-width * 1) - $page-gutter-width;
	}
	// @include media($desktop-l) {
	// 	width: $bp-desktop-l - ($page-padding-width * 2) - ($advert-skyscraper-width * 1.5) - ($page-gutter-width * 2);
	// }
}

// ********** SIDE BAR **********

.side-bar {
	width: 100%;
	float: right;
	@include media($desktop) {
		width: $advert-skyscraper-width;
	}
	// @include media($desktop-l) {
	// 	width: $advert-skyscraper-width * 1.5 + $page-gutter-width;
	// }
}

.side-bar > * {
	width: 100%;
	// float: right;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	@include media($desktop) {
		width: $advert-skyscraper-width;
	}
}
