

// ********** FONT SIZES **********

@mixin font-xxl {
	@include set-font-size(32);
}

@mixin font-xl {
	@include set-font-size(24);
}

@mixin font-l {
	@include set-font-size(20);
}

@mixin font-reset {
	@include set-font-size(16);
}

@mixin font-s {
	@include set-font-size(14);
}

@mixin font-xs {
	@include set-font-size(13);
}

@mixin font-xxs {
	@include set-font-size(12);
}

@mixin font-collapsed {
	font-size: 0;
	line-height: 0;
}

// ********** GENERIC STYLES **********

.post-title {
	display: block;
}

// Page titles
h1 {
	@extend .post-title;
  @include font-xxl;
	@include media($tablet) {
		@include trailer();
	}
}

// Section titles
h2 {
  @include font-xxl;
	@include margin-border(bottom, .5);
}

h3 {
  @include font-xl;
  // line-height: 1.1;
}

.category-name {
	font-variant: small-caps;
}

.category-title {
  @extend .category-name;
  @include font-xs;
  font-style: italic;
}

.post-standfirst {
	font-style: italic;
}

// ********** STYLES **********

%drop-cap {
	text-indent: 0;
	&:first-letter {
		overflow: hidden;
		font-size: 5em;
		line-height: .8374;
		float: left;
		display: block;
		padding-right: .1ex;
		@media only screen and (max-width: $bp-tablet) {
			line-height: .85;
			font-size: 3em;
		}
	}
}

%ornament-divider {
	display: block;
	clear: both;
	padding-bottom: 2%;
	width: 100%;
	height: 0;
	background-image: url("#{$images}/icon-divider.svg");
	background-position: center 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	content: '';
	margin-top: rhythm(1.5);
	margin-bottom: rhythm();
}

%no-hightlight {
	&:hover {
		text-decoration: none;
	}
}

// ********** UTILITIES **********

%antialias {
	-webkit-font-smoothing: antialiased;
}

%antialias-hidpi {
	@include hidpi {
		-webkit-font-smoothing: antialiased;
	}
}
