// ********** FONT SIZES **********

%font-s {
	font-size: .8rem;
}

%font-xs {
	font-size: .7rem;
}

%font-l {
	font-size: 1.1rem;
}

%font-xl {
	font-size: 1.3rem;
}

%font-xxl {
	font-size: 2rem;
}

%font-reset {
	font-size: 1rem;
	line-height: $line-height;
}

%font-collapsed {
	font-size: 0;
	line-height: 0;
}

// ********** GENERIC STYLES **********

%category-name {
	color: $black;
	font-variant: small-caps;
}

%category-title {
  @extend %font-s;
  @extend %category-name;
  font-style: italic;
}

%page-title {
  @extend %font-xxl;
  padding-bottom: 1ex;
  line-height: 1.1;
}

%post-title {
	@extend %font-l;
	line-height: 1.2;
	margin-bottom: .05em;
}

%post-excerpt {
	padding-bottom: 1rem;
	text-indent: 0;
	font-style: italic;
	img {
		display: block;
		margin-bottom: 1ex;
		width: 100%;
	}
}

// ********** STYLES **********

%drop-cap {
	text-indent: 0;
	&:first-letter {
		overflow: hidden;
		font-size: 3.2em;
		line-height: .92;
		float: left;
		display: block;
		padding-right: .1ex;
		margin-bottom: -.1em;
	}
}

%ornament-divider {
	display: block;
	clear: both;
	padding-bottom: 2%;
	width: 100%;
	height: 0;
	background-image: url("#{$images}/icon-divider.svg");
	background-position: center 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	content: '';
}

%no-hightlight {
	&:hover {
		text-decoration: none;
	}
}

// ********** UTILITIES **********

%antialias {
	-webkit-font-smoothing: antialiased;
}
